@tailwind base;
@tailwind components;
@tailwind utilities;


.animation1 {
    animation-name: moveElement;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

@keyframes moveElement {
    0% {
        transform: translateX(1rem); 
    }
    50% {
        transform: translateX(-1rem); 
    }
    100% {
        transform: translateX(1rem); 
    }
}
.animation2 {
    animation-name: moveElement2;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

@keyframes moveElement2 {
    0% {
        transform: translateX(1rem); 
    }
    50% {
        transform: translateX(2rem); 
    }
    100% {
        transform: translateX(1rem);
    }
}
.animation3 {
    animation-name: moveElement3;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

@keyframes moveElement3 {
    0% {
        transform: rotate(0deg);  
    }  
    50% {
        transform: rotate(10deg); 
    }
    100% {
        transform: rotate(0deg);
    }
}

img {
    user-select: none;
    pointer-events: none;
  }
  